<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      {% block title %}
          {% if title %}
            <title>Blog - {{ title }}</title>
          {% else %}
          <title> Blog - Only </title>
          {% endif %}
      {% endblock %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
    <h1> Blog </h1>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
      <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
        <nav class="navbar bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('main') }}">Главная</a>
            <a class="navbar-brand" href="{{ url_for('blog') }}">Блог</a>
            <a class="navbar-brand" href="{{ url_for('about') }}">Об сайте</a>
                {% if current_user.is_anonymous %}
                <a class="navbar-brand" href="{{ url_for('login') }}">Войти</a>
              {% else %}
                <a class="navbar-brand" href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
                <a class="navbar-brand" href="{{ url_for('logout') }}">Выйти</a>
                {% endif %}
          </div>
        </nav>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
      <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
        <div class="post-content">
            <br>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
        </div>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>