{% extends "base.html" %}
{% block content %}
    <form class="container-fluid" action="/register_user" method="post">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">Имя</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Почта</span>
            <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
            <div class="input-group">
            <span class="input-group-text" id="basic-addon1">Пароль</span>
            <input type="password" class="form-control" aria-describedby="basic-addon1">
        </div>
        <p></p>
        <input type="submit" class="btn btn-success" value="Зарегистрироваться">
    </form>
{% endblock %}